<div class="paste-list">
    <div class="uploads paste-list-section">
        <div class="paste-list-header">
            <span>Your Recent Sets</span>
        </div>
        <ul class="upload-list">
            @for(var i = 0; i < State.Uploads.Count; i++)
            {
                var item = State.Uploads[i];
                var index = i;
                <li class="paste@(item.Id == State.ActiveUpload?.Id ? " selected" : "") @(item.LastServerId == null ? " dirty": "")" @onclick="@(e => SelectUpload(e, index))" @onclick:stopPropagation @onclick:preventDefault title="@item.Id">
                    <div class="remove-paste-button" @onclick="@(e => RemoveUpload(e, @item.Id))" @onclick:stopPropagation @onclick:preventDefault title="Remove @item.Id">
                        <i class="fa fa-window-close" aria-hidden="true"></i>
                    </div>
                    <input type="radio" name="paste-list-item" id="paste-list-item-@item.Id" value="@item.Id" checked="@(State.ActiveUpload == item)" />
                    <label for="paste-list-item-@item.Id">@item.Id</label>

                    @if (item.LastServerId == null)
                    {
                        <span class="dirty-indicator" title="@item.Id has not been uploaded"></span>
                    }
                    else if (item.LastServerId != null)
                    {
                        <div class=favorite-button @onclick="@(e => ToggleFavorite(e, @item.LastServerId))" title="Toggle Favorite" @onclick:stopPropagation @onclick:preventDefault>
                            <i class="fa fa-star@(State.Favorites.Any(a => a == item.LastServerId) ? " active" : "")" aria-hidden="true"></i>
                        </div>
                    }
                </li>
            }
            @if ((State.Uploads ?? new List<FileBundle>()).Count == 0)
            {
                <li class="paste selected">
                    <input type="radio" name="paste-list-item" id="paste-list-item-none" value="none" checked />
                    <label for="paste-list-item-none">No Sets Available</label>
                </li>
            }
        </ul>
    </div>
    <div class="history paste-list-section">
        <div class="paste-list-header">
            <span>Recently Viewed Sets</span>
        </div>
        <ul>
            @foreach (var item in State.History)
            {
                <li class="paste@(item == State.ActiveUpload?.LastServerId ? " selected" : "")" @onclick="@(e => SelectNonFileBundle(e, item))" @onclick:stopPropagation @onclick:preventDefault>
                    <div class="remove-paste-button" @onclick="@(e => RemoveHistory(e, @item))" @onclick:stopPropagation @onclick:preventDefault title="Remove @item">
                        <i class="fa fa-window-close" aria-hidden="true"></i>
                        </div>
                    <input type="radio" name="paste-list-item" id="history-list-item-@item" value="@item" />
                    <label for="history-list-item-@item">@item</label>
                    <div class=favorite-button @onclick="@(e => ToggleFavorite(e, @item))" title="Toggle Favorite" @onclick:stopPropagation @onclick:preventDefault>
                        <i class="fa fa-star@(State.Favorites.Any(a => a == item) ? " active" : "")" aria-hidden="true"></i>
                    </div>
                </li>
            }
        </ul>
    </div>
    <div class="favorites paste-list-section">

        <div class="paste-list-header">
            <span>Favorite Sets</span>
        </div>
        <ul>
            @foreach (var item in State.Favorites)
            {
                <li class="paste@(item == State.ActiveUpload?.LastServerId ? " selected" : "")" @onclick="@(e => SelectNonFileBundle(e, item))" @onclick:stopPropagation @onclick:preventDefault>
                    <input type="radio" name="paste-list-item" id="favorite-list-item-@item" value="@item" />
                    <label for="favorite-list-item-@item">@item</label>
                    <div class=favorite-button @onclick="@(e => ToggleFavorite(e, @item))" title="Toggle Favorite" @onclick:stopPropagation @onclick:preventDefault>
                        <i class="fa fa-star active" aria-hidden="true"></i>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
