<div class="paste-list">
    <div class="uploads paste-list-section">
        <div class="paste-list-header">
            <span>Your Recent Sets</span>
        </div>
        <ul class="upload-list">
            @foreach (var item in State!.Uploads)
            {
                <li class="paste@(item.Id == State!.ActiveUpload?.Id ? " selected" : "")" @onclick="@(e => SelectUpload(e, item.Id))" @onclick:stopPropagation @onclick:preventDefault title="@item.Id">
                    <span class="remove-paste-button" @onclick="@(e => RemoveUpload(e, @item.Id))" @onclick:stopPropagation @onclick:preventDefault>X</span>
                    <input type="radio" name="paste-list-item" id="paste-list-item-@item.Id" value="@item.Id" checked="@(State!.ActiveUpload == item)" />
                    <label for="paste-list-item-@item.Id">@item.Id</label>

                    @if (item.LastServerId == null)
                    {
                        <span class="dirty-indicator" title="@item.Id has not been uploaded"></span>
                    }
                </li>
            }
            @if ((State!.Uploads ?? new List<FileBundle>()).Count == 0)
            {
                <li class="paste selected">
                    <input type="radio" name="paste-list-item" id="paste-list-item-none" value="none" checked />
                    <label for="paste-list-item-none">No Sets Available</label>
                </li>
            }
        </ul>
    </div>
    <div class="history paste-list-section">
        <div class="paste-list-header">
            <span>Recently Viewed</span>
        </div>
        <ul>
            @foreach (var item in State!.History)
            {
                <li class="paste@(item == State!.ActiveUpload?.LastServerId ? " selected" : "")" @onclick="@(e => SelectNonFileBundle(e, item))" @onclick:stopPropagation @onclick:preventDefault>
                    <input type="radio" name="paste-list-item" id="history-list-item-@item" value="@item" />
                    <label for="history-list-item-@item">@item</label>
                    <div class="remove-paste-button" @onclick="@(e => RemoveHistory(e, @item))" @onclick:stopPropagation @onclick:preventDefault>X</div>
                </li>
            }
        </ul>
    </div>
    <div class="favorites paste-list-section">

        <div class="paste-list-header">
            <span>Favorites</span>
        </div>
        <ul>
            @foreach (var item in State!.Favorites)
            {
                <li class="paste@(item == State!.ActiveUpload?.LastServerId ? " selected" : "")" @onclick="@(e => SelectNonFileBundle(e, item))" @onclick:stopPropagation @onclick:preventDefault>
                    <input type="radio" name="paste-list-item" id="favorite-list-item-@item" value="@item" />
                    <label for="favorite-list-item-@item">@item</label>
                    <div class="remove-paste-button" @onclick="@(e => RemoveFavorite(e, @item))" @onclick:stopPropagation @onclick:preventDefault>X</div>
                </li>
            }
        </ul>
    </div>
</div>
