<div class="tabstrip">

    @foreach (var item in State!.ActiveUpload?.Files ?? new List<FileData>())
    {
        var iconImage = "default_file.svg";
        var detectedType = item.GetLanguage();
        if (detectedType != null)
        {
            iconImage = $"file_type_{detectedType}.svg";
        }

        <div class="tab@(item.Id == State!.ActiveFile?.Id ? " selected": "")" @onclick="@(e => TabClicked(e, @item))" @onclick:preventDefault title="@item.Filename">
            <span class="close-tab-button" @onclick="@(e => CloseTab(e, item))" @onclick:preventDefault title="Remove @item.Id"><i class="fa fa-window-close" aria-hidden="true"></i></span>
            <input type="radio" name="filetab" checked="@(item == State!.ActiveFile)" id="@item.Id" />
            <label for="@item.Id">
                <span class="helper"></span><img src="icons/@iconImage" alt="@item.Filename" width="16" height="16" /> <span class="tab-name">@item.Filename</span>
            </label>
        </div>
    }

    @if (_newFilename != null)
    {
        <div class="tab">
            <span class="close-tab-button" @onclick="@(e => { _newFilename = null; })" @onclick:preventDefault title="Cancel">X</span>
            <input autofocus type="text" @bind="_newFilename" @bind:event="oninput" @onkeypress="CreateNewFile"
               id="new-file" placeholder="newfile.cs" />
        </div>
    }

    @if (State!.ActiveUpload != null && State!.ActiveUpload.Files.Count < 6)
    {
        <div class="new-tab" @onclick="@CreateTab" @onclick:preventDefault title="Add File">+</div>
    }
</div>
